<div style="height: 100px;">
    <h1>Welcome to company side</h1>
    <h4>here, you will find all the companies listed</h4>
</div>
<div>
    <div>
       company1 
    </div>
    <div>
       company2 
    </div>
    <div>
       company3 
    </div>
    <div>
       company4 
    </div>
    <div>
       company5 
    </div>

</div>