<div style="height: 100px;">
    <h1>Welcome to employee and company details</h1>
    <h4>here, you will find and make company</h4>
</div>
<div>
    <div>
        <a href="login">Employee Login</a>
    </div>
    <div>
        <a href="register">Employee Register</a>
    </div>
</div>